<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Corley Office Hours Scheduler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyCoreApp.styles.css" asp-append-version="true" />
    <style>
        /* Define custom background color class */
        .bg-custom-color {
            background-color: #115740 !important;
        }

        /* Applying League Spartan font to nav links/buttons */
        .navbar-nav .nav-link {
            font-family: 'League Spartan', sans-serif;
            font-size: 24px;
        }

        /* Logo styling */
        .navbar-brand img {
            height: 80px;
        }

        /* Adding padding between the nav links */
        .navbar-nav .nav-item:not(:last-child) {
            margin-right: 30px; /* Adjust the margin as needed */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom-color border-bottom box-shadow mb-3">
            <div class="container">
                <!-- Left-aligned items (Logo) -->
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/images/logo.png" alt="Corley Office Hours Scheduler Logo" />
                </a>

                <!-- Right-aligned items (Buttons) -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/A-Z">A-Z</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Department">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Search_Page">Search</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light">
        <div class="container">
            &copy; 2023 - Corley Office Hours Scheduler - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>