html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    color: white;
}


/* Nav Bar */
.text-red {
    color: #FF2400;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em; /* Adjust as needed */
}

/*Office Hour Form*/
#office-hour-form {
    background-color: rgba(19,44,42,.9);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}



#name, #email {
    width: 200px;
}

h1{
    text-align: center;
}

#moveRight{
    padding-left: 40px
}

table, th, td {
    border: 1px solid;
    border-color: white;
    padding: 5px;
    font-size: 1.1em;
}

#column1{
    width: 190px;
}

#column2{
    width: 85%;
}

#corley {
    background-image: url("/images/Corley-Hall-1000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    background-position: center center;
    background-attachment: fixed;
}

li{
    list-style-type: none;
}

#upcoming-hours li {
    background-color: rgba(19,44,42,.9);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Search Bar */
#searchBar {
    display: flex;
    background-color: rgba(19,44,42,.9);
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 32px;
    padding: 10px 10px 10px 10px;
}

#searchBar input {
    width: 500px; /* Adjust as needed */
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
}

button:hover {
    color: white;
    background-color: #f6c947;
    border-radius: 25px;
}

input {
    border-radius: 10px;
}

.email-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 2px solid #007BFF;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

    .email-link:hover {
        background-color: #ffc107;
        color: #000;
        border-color: #ffc107;
    }