html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    color: white;
}


/* Nav Bar */
.text-red {
    color: #FF2400;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em; /* Adjust as needed */
}

/*Office Hour Form*/
#office-hour-form {
    background-color: rgba(17, 87, 64, 0.9);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}



#name, #email {
    width: 200px;
}

h1{
    text-align: center;
}

#moveRight{
    padding-left: 40px
}

table, th, td {
    border: 1px solid;
    border-color: white;
    padding: 5px;
    font-size: 1.1em;
}

#column1{
    width: 190px;
}

#column2{
    width: 85%;
}

#corley {
    background-image: url("/images/Corley-Hall-1000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    background-position: center center;
    background-attachment: fixed;
}

li{
    list-style-type: none;
}

#upcoming-hours li {
    background-color: rgba(17, 87, 64, 0.9);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: -30px;
}

/* Search Bar 
#searchBar {
    display: grid; 
    grid-auto-flow: column; 
    grid-gap: 10px; 
    background-color: rgba(19,44,42,.9);
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 32px;
    padding: 10px 10px 10px 10px;
}


#searchBar input {
    width: 65%; 
    justify-content: center;
    align-items: center;
}
*/

button {
    border: none;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
}

button:hover {
    color: white;
    background-color: #f6c947;
    border-radius: 25px;
}

input {
    border-radius: 10px;
}

.email-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 2px solid #007BFF;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

    .email-link:hover {
        background-color: #ffc107;
        color: #000;
        border-color: #ffc107;
    }


#AZnav {
    background-color: rgba(17, 87, 64, 0.9);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
    display: grid; /* Use CSS Grid */
    grid-auto-flow: column; /* Layout items in a single row */
    grid-gap: 10px; /* Gap between items */
    overflow-x: auto;
}

.AZnav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.AZnav-item {
    display: inline;
    margin-right: 10px;
}

.AZnav-link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

    .AZnav-link:hover {
        background-color: #ddd;
    }


#returnToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    color: rgba(19, 44, 42, 0.9);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

    #returnToTopBtn:hover {
        background-color: #ddd;
    }


/* Default styles for professor card */
.professor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards */
}

.professor-card {
    width: calc(50% - 25px); /* Adjust the width as needed */
    box-sizing: border-box; /* Include padding and border in width calculation */
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(17, 87, 64, 0.9);
    color: white; /* Text color */
    border-radius: 10px; /* Border radius */
    margin-top: 5px; /* Top margin */
    margin-bottom: 20px; /* Bottom margin */
    margin-left: 10px; /* Adjust the margin to move the whole content including background color */
}

/* Ensure the table takes up full height of the professor-card */
table {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border: 4px solid #FECD2F; /* Set border thickness and color */
}

th,
td {
    border: 4px solid #FECD2F; /* Set border thickness and color */
    padding: 10px; /* Adjust cell padding as needed */
    font-size: 1.1em; /* Adjust font size */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .professor-list {
        flex-direction: column; /* Change to a single column layout for smaller screens */
    }

    .professor-card {
        width: 100%; /* Occupy full width for one table per row on smaller screens */
        margin-bottom: 20px; /* Add margin between cards in a single column layout */
        margin-left: 0; /* Reset the margin for smaller screens if needed */
    }
}


#searchBar {
    display: flex;
    justify-content: center;
    background-color: rgba(17, 87, 64, 0.9);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap; /* Allow items to wrap */
}

/* for smaller screens */
@media screen and (max-width: 768px) {
    #searchBar {

        margin-left: 2.5%; 
    }
}


@font-face {
    font-family: 'League Spartan';
    src: url('/fonts/LeagueSpartan-Regular.ttf') format('truetype'); /* Adjust the format if needed */
    /* Additional font formats (like WOFF, WOFF2) can also be included for broader browser support */
    /* Font weight and style can be specified as needed */
    font-weight: normal;
    font-style: normal;
}